@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  /* Light Theme (Default) */
  --color-primary: #3b8949;
  --color-primary-dark: #2a6936;
  --color-primary-text: #ffffff;
  
  --color-bg: #f5f6f8;
  --color-bg-surface: #ffffff;
  --color-text: #111111;
  --color-text-muted: #666666;
  --color-border: #e5e7eb;

  /* Status Colors */
  --color-success: #10b981;
  --color-warning: #facc15;
  --color-danger: #ef4444;
  --color-gray: #6b7280;
}

html.dark {
  /* Dark Theme */
  --color-primary: #63e079;
  --color-primary-dark: #4ac760;
  --color-primary-text: #000000;
  --color-bg: #19212F;
  --color-bg-surface: #000919;
  --color-text: #ffffff;
  --color-text-muted: #aaaaaa;
  --color-border: #333333;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 11px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 4px;
}

.is-scrollbar-idle::-webkit-scrollbar-thumb {
  background: transparent !important;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-dark);
}

::-webkit-scrollbar-button {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

a:hover {
}

button {
  cursor: pointer;
  font-family: inherit;
}

@layer base {
  h1 {
    @apply font-bold text-gray-800 dark:text-white;
  }
}
